
/* using 21px @ 1.333 ratio modular scale*/

html {
	padding: 0.739em; /* 11.818/16 = 0.739*/
	background-color: #8b324d;
	color: #f3eaed;
	
}
body {
	font-size: 1.313em /* 21/16 = 1.313em*/;
	padding: 1em;
}

h1 {
	font-size: 1.777em /* 37.315/21 = 1.777 */;
	padding-bottom: 1em;
	font-weight: bold;
}

@media screen and (min-width: 46.875em)/* 750 / 16 = 46.875 */ {
	
	#input_boxes {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto auto;
	}

}




